mixin features_screen 
    +b.features-wrap.wrap
        +b.features.container 
            +b.title-default_center 
                +e.P.title.text_title-regular._blue Features
                +e.P.desc.text_big._gray._height-big Some of the features and advantages that we provide for those of you who store data in this Data Warehouse.
            +b.features-content
                +b.features-item_first
                    +e.IMG(src="./img/features-1.png").icon
                    +e.P.title.text_title-small._blue Search Data
                    +e.P.desc.text_regular-thin._gray._height-big Don’t worry if your data is very large, the Data Warehoue provides a search engine, which is useful for making it easier to find data effectively saving time.
                    +e.A(href="").more.text_regular-bold._blue Learn more
                    +e.bg
                +b.features-item_second
                    +e.IMG(src="./img/features-2.png").icon
                    +e.P.title.text_title-small._blue Security Code
                    +e.P.desc.text_regular-thin._gray._height-big Data Security is one of our best facilities. Allows for your files to be safer. The file can be secured with a code or password that you created, so only you can open the file.
                    +e.A(href="").more.text_regular-bold._blue Learn more
                    +e.bg
                +b.features-item_third
                    +e.IMG(src="./img/features-3.png").icon
                    +e.P.title.text_title-small._blue Print Out
                    +e.P.desc.text_regular-thin._gray._height-big Print out service gives you convenience if someday you need print data, just edit it all and just print it.
                    +e.A(href="").more.text_regular-bold._blue Learn more
                    +e.bg
                +b.features-item_fourth
                    +e.IMG(src="./img/features-4.png").icon
                    +e.P.title.text_title-small._blue 24 Hours Access
                    +e.P.desc.text_regular-thin._gray._height-big Access is given 24 hours a full morning to night and meet again in the morning, giving you comfort when you need data when urgent.
                    +e.A(href="").more.text_regular-bold._blue Learn more
                    +e.bg



