mixin main_screen 
	+b.main-wrap.wrap
		+b.main.container
			+b.main-slider 	
				+e.item
					+e.IMG(src="./img/slider-main-img.png").bg
					+e.info-block
						+e.P.title.text_title-slider._blue Save your data storage here.
						+e.P.desc.text_big._gray._height-big Data Warehouse is a data storage area that has been tested for security, so you can store your data here 	safely but not be afraid of being stolen by others.
						+b.btn_purple Learn more 
				+e.item
					+e.IMG(src="./img/slider-main-img.png").bg
					+e.info-block
						+e.P.title.text_title-slider._blue Save your data storage here.
						+e.P.desc.text_big._gray._height-big Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
						+b.btn_purple Learn more 
				+e.item
					+e.IMG(src="./img/slider-main-img.png").bg
					+e.info-block
						+e.P.title.text_title-slider._blue Save your data storage here.
						+e.P.desc.text_big._gray._height-big Data Warehouse is a data storage area that has been tested for security, so you can store your data here safely but not be afraid of being stolen by others.
						+b.btn_purple Learn more 
				