
*, *:after, *:before
	box-sizing: border-box
	font-family: 'Roboto'
	padding: 0
	margin: 0
	text-decoration: none
	color: inherit
	max-width: 100%
	font-weight: 300
	outline: none
	transition: .3s

ul
	li
		list-style: none

.wrap
	width: 100%
	display: flex
	justify-content: center

.container
	width: 100%
	max-width: 1120px

.slick
	&-slider
		*
			max-width: none
	&-dots
		display: flex
		justify-content: center
		margin-top: 30px
		li
			width: 8px
			height: 8px
			margin-right: 8px
			border-radius: 50%
			background: rgba(156, 105, 226, 0.2)
			cursor: pointer
			&:last-child
				margin-right: 0
		.slick-active
			background: #9C69E2
		button
			font-size: 0
			opacity: 0

.text
	&_blue
		color: #212353
	&_gray
		color: #4B5D68
	&_height-big
		line-height: 160%

	&_title
		&-slider
			font-weight: 800
			font-size: 72px
		&-regular
			font-weight: 800
			font-size: 40px
			line-height: 130%
		&-small
			font-weight: 500
			font-size: 24px
			line-height: 130%
	&_regular
		font-size: 16px
		font-weight: 500
		&-bold
			font-weight: 800
		&-thin
			font-weight: normal
	&_big
		font-size: 18px
		font-weight: 500
		&-bold
			font-weight: 800
		&-thin
			font-weight: normal

.title-default
	max-width: 585px
	&_center
		margin: 0 auto
		p
			text-align: center

.btn
	cursor: pointer
	line-height: 160%
	border-radius: 50px
	font-weight: 800
	font-size: 18px
	display: inline-flex
	&_request
		padding: 17px 0
		padding-left: 30px
		padding-right: 70px
		box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1)
		position: relative
		align-items: center
		&::after
			content: ''
			position: absolute
			right: 30px
			width: 20px
			height: 14px
			background: url('../img/next-icon.svg')
			background-size: cover
	&_purple
		padding: 16px 37px
		background: #9C69E2
		color: #fff
.search
	&__toggle
		width: 20px
		height: 20px
		cursor: pointer
		background: url('../img/search-icon.svg')
		&:hover
			transform: rotate(20deg)
	&__block
		display: none
		position: absolute
	&__place
		min-height: 40px
		box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1)
		border-radius: 50px
		padding: 20px
		border: 0
		margin-right: 20px
		background: #ffffff
	&__btn
		width: 20px
		height: 20px
		border: 0
		background: url('../img/search-icon.svg')
		position: absolute
		top: 50%
		transform: translateY(-50%)
		cursor: pointer

.header
	height: 160px
	background: #fff
	display: flex
	align-items: center
	justify-content: space-between
	&-logo
		margin-right: 125px
		img
			max-width: 150px
	&-nav,
	.nav-list
		display: flex
		align-items: center
	.nav-list
		&__item
			margin-right: 45px
	&-menu
		display: flex
		justify-content: space-between
	&-contacts
		display: flex
		&__tel
			margin-right: 20px
			position: relative

			&::before
				content: ''
				position: absolute
				background: url('../img/tel-icon.svg')
				left: -20px
				width: 15px
				height: 30px
				background-repeat: no-repeat

	.burger
		width: 30px
		z-index: 9999
		&__line
			width: 100%
			height: 2px
			background: #9C69E2
			border-radius: 32px
			margin-bottom: 8px
			transform-origin: 3% 50%
			transition: .5s
			&:nth-child(2)
				&.active
					opacity: 0
					transition: .5s
			&:nth-child(1)
				&.active
					transform: rotate(45deg)
					transition: .5s
			&:nth-child(3)
				&.active
					transform: rotate(-45deg)
					transition: .5s
		&-search-mob
			display: none
.main
	&-wrap
		padding-top: 25px
	&-slider
		&__item
			border-radius: 50px
			padding: 80px 105px
			position: relative
			overflow: hidden
		&__bg
			left: 0
			top: 0
			width: 100%
			height: 100%
			position: absolute
		&__info-block
			position: relative
			max-width: 60%
		&__title,&__desc
			margin-bottom: 18px
		&__desc
			max-width: 380px

.features
	&-wrap
		padding-top: 85px
		padding-bottom: 100px
	.title-default
		margin-bottom: 75px
		&__title
			margin-bottom: 26px
	&-content
		display: flex
		flex-wrap: wrap
	&-item
		max-width: 440px
		min-height: 358px
		margin-left: 100px
		padding: 56px 50px 30px 170px
		margin-bottom: 80px
		border-radius: 50px
		// clip-path: polygon(17% 0, 100% 0, 100% 100%, 0% 100%)
		position: relative
		display: flex
		flex-direction: column
		align-items: flex-start
		&__bg
			width: 100%
			height: 100%
			position: absolute
			right: 0
			top: 0
			background-size: cover !important
			background-repeat: no-repeat !important
			z-index: -1
		&__title,&__desc
			display: -webkit-box
			-webkit-box-orient: vertical
			overflow-y: hidden
		&__title
			margin-bottom: 30px
			-webkit-line-clamp: 1
		&__desc
			margin-bottom: 35px
			flex: 1 1 auto
			-webkit-line-clamp: 6

		&__more
			padding-right: 40px
			position: relative
			&::after
				content: ''
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-50%)
				width: 20px
				height: 14px
				background: url('../img/next-icon.svg')
				background-size: cover

		&__icon
			left: -100px
			position: absolute
		&_first
			.features-item
				&__bg
					background: url('../img/featuresBG-1.svg')
				&__icon
					top: 70px
		&_second
			.features-item
				&__bg
					background: url('../img/featuresBG-2.svg')
				&__icon
					top: 85px
		&_third
			.features-item
				&__bg
					background: url('../img/featuresBG-3.svg')
				&__icon
					left: -115px
					top: 130px

		&_fourth
			.features-item
				&__bg
					background: url('../img/featuresBG-4.svg')
				&__icon
					top: 75px

		&:nth-child(2n+2)
			margin-left: 140px

.footer
	&-wrap
		padding-top: 100px
		padding-top: 50px
		border-top: 2px solid rgba(156, 105, 226, .2)
	.title-default
		&__title
			margin-bottom: 20px
	&-top
		display: flex
		justify-content: space-between
		margin-bottom: 150px
	&-bottom
		margin-bottom: 90px
		display: flex

	&-btn-block
		display: flex
		align-items: center
	.btn_purple
		margin-right: 30px

	&-logo
		margin-bottom: 70px
		a
			display: flex
			align-items: center
			img
				margin-right: 20px
		&__text
			font-weight: 800
			font-size: 20px
			line-height: 160%
	&-list
		&__title
			margin-top: 15px
			margin-bottom: 50px
		&__contacts,
		&__about,
		&__help
			display: flex
			flex-direction: column
		&__contacts
			.footer-list__item
				line-height: 180%
				margin-bottom: 20px
			.footer-mail,.footer-phone
				line-height: 1
		&__item
			margin-bottom: 21px
		&_contacts
			width: 43%
		&_about,&_help
			width: 21%
		&_social
			width: 16%
		&__social
			display: flex
			justify-content: space-between
	&-copyright
		font-weight: normal
		font-size: 12px
		line-height: 180%
		max-width: 25%

.modal
	&-wrap
		background: rgba(0, 0, 0, 0.4)
		width: 100%
		height: 100%
		left: 0
		top: 0
		position: fixed
		overflow: hidden
		display: flex
		align-items: center
		justify-content: center
	&-request
		border-radius: 50px
		padding: 35px
		background: #fff
		&-bg
			width: 100%
			padding: 30px
			border-radius: 50px
			background: repeating-linear-gradient(-50deg,#fff,#fff 20px,#68C9BA 10px,#68C9BA 30px)
		&-form
			display: flex
			label,input,textarea
				width: 100%
			input,textarea
				border: 0
				border-bottom: 2px solid rgba(156, 105, 226, .2)
				margin-bottom: 44px
			textarea
				resize: none
				height: 205px
				background: url(../img/nodepad.svg)
				line-height: 37px
				margin-top: -12px

				// line-height: 8ch
				// background-image: linear-gradient(transparent, transparent calc(8ch - 2px), #E7EFF8 0px)
				// background-size: 100% 8ch
			&__left,&__right
				width: 50%
				display: flex
				flex-direction: column
.request-modal-wrap
	height: 0%
	&.open
		height: 100%
